* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary-head: #023047;
    --color-primary-text: #ffb703;
    --color-accent1: #219EBC;
    --color-accent2: #fb8500;
    --color-text: #023047;
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Nunito', sans-serif;
}

/* BASIC Header */

body {
    font-family: var(--font-body);
    background-color: white;
    color: navy;
    max-width: 1200px;
    margin: 5px;
    padding: 20px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--color-primary-head);
    color: #fb8500;
    font-family: var(--font-heading);
    border-bottom: 8px solid var(--color-accent1);
}

header img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin: 0 1rem 0 5rem;
    padding: 5px;
}

.hero {
    position: relative;
    margin-bottom: 2rem;
}

.hero article p {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    color: var(--color-primary-text);
    font-family: var(--font-body);
}

.navigation {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    list-style: none;
} 

.navigation li a {
    display: inline-block;
    color: #ffb703;
    text-decoration: none;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: var(--font-body);
}

/* FORMULARIO */
.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
  }

.column2 {
    grid-template-columns: 1fr 2fr;
  }

.radio-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.radio-list li {
    align-content: center;
    text-align: center;
}

.radio-list input[type="radio"] {
    margin-right: 1px;   
}

.purpose {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #180505;
    padding-bottom: 10px;
    margin-top: 1rem;
    margin-bottom: 6px;

}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
  }
  
fieldset {
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
  }
  
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
  }
  
label, input, select, textarea, button {
    font-family: var(--font-body);
  }

label {
    text-align: right;
    padding-right: 1rem;
  }
  
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }

button {
    margin: 1rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
  }
  
button:hover {
    background-color: darkgreen; 
}

/* CONTENIDO */
h1 {
    text-align: center;
    align-content: center;
    font-family: var(--font-heading);
    font-size: 3rem;
    height: 120px;
    background-color: var(--color-primary-head);
    color: #fb8500;
    padding: 1rem 2rem;
    text-shadow: 1px 1px 4px #023047;
    padding: 10px;
    margin: 2rem auto;
}

h2 {
    margin: 16px;
    background-color: #023047;
    padding: 1rem;
    border-radius: 12px;
    color: #fb8500;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    color: var(--color-text);
    text-align:justify;
}

section img {
    max-width: 200px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #023047;
    align-items: center;
    align-content: space-evenly;
}

.margin {
    margin-top: 50px;
}
.contact {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    color: var(--color-text);
}

.contact p {
    
    text-align:justify;
    border: 2px solid #012e39d4;
    background-color: #ffb703;
    border-radius: 10px;
}

/* Employe */
.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}

.photos figcaption {
    font-size: 1rem;
    text-align: center;
    color: var(--color-primary-head);
    margin-bottom: 16px;
} 

.map {
    display: flex;
    justify-content: center;
    margin-top: 2rem;    
}

.map iframe {
    max-width: 90%;
    height: 400px;
}



/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #023047;
    color: #fb8500;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
    border-top: 4px solid #ffb703;
}

footer p {
    margin-bottom: 1rem;
    color: #fb8500;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}
.sociallinks a {
    gap: 1rem;
    text-decoration: none;
    margin: 10px;
}

.sociallinks li {
    list-style: none;
}
.sociallinks img {
    gap: 1rem;
    width: 30px;
    height: auto;
    filter: brightness(1.1);
    border-radius: 15px;
}