* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary-head: #023047;
    --color-primary-text: #ffb703;
    --color-accent1: #219EBC;
    --color-accent2: #fb8500;
    --color-text: #023047;
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Nunito', sans-serif;
}

body {
    font-family: var(--font-body);
    background-color: white;
    color: navy;
    max-width: 1200px;
    margin: 5px;
    padding: 20px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--color-primary-head);
    color: #fb8500;
    font-family: var(--font-heading);
    border-bottom: 8px solid var(--color-accent1);
}

header img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin: 0 1rem 0 5rem;
    padding: 5px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    list-style: none;
} 

.navigation li a {
    display: inline-block;
    color: #ffb703;
    text-decoration: none;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: var(--font-body);
}

.hero {
    position: relative;
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    position: absolute;
    bottom: 65%;
    left: 0%;
    right: 0%;
    text-align: center;
    align-content: center;
    font-family: var(--font-heading);
    font-size: 3rem;
    height: 120px;
    background-color:#012e39d4;
    color: #fb8500;
    padding: 1rem 2rem;
    text-shadow: 1px 1px 4px #023047;
    padding: 10px;
}

.hero article {
    position: absolute;
    display: flex;
    bottom: 10%;
    left: 5%;
    right: 5%;
    background: #012e39d4;
    padding: 1rem;
    border-radius: 10px;
    color: var(--color-primary-text);
    gap: 1rem;
}

.hero article img {
    float: right;
    width: 130px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px #fb8500;
}

.hero article p {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    color: var(--color-primary-text);
    font-family: var(--font-body);
}

/* MAIN BODY */
section {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2rem;
    background-color: #ffb703;
    border-radius: 10px;
}

h2 {
    margin: 16px;
    background-color: #023047;
    padding: 1rem;
    border-radius: 12px;
    color: #fb8500;
}

h3{
    color: white;
    border-bottom: 1px solid whitesmoke;
}

h4 {
    font-family: var(--font-heading);
    border: 3px solid #fb8500;
    border-radius: 10px;
    margin-bottom: .5rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    color: var(--color-text);
    text-align:justify;
}

section img {
    max-width: 200px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #023047;
    align-items: center;
    align-content: space-evenly;
}

/* HISTORY */
.history {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffb703;
    border-radius: 10px;
}

.history h2 {
    margin: 16px;
    background-color: #023047;
    padding: 1rem;
    border-radius: 12px;
    color: #fb8500;
}
 
.box {
    display: flex;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: 0;
    margin-right: 20px;
    padding: 0px;
}

.box p {
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}

.box img {
    width: auto;
    height: auto;
    margin: auto;
}

/* Adventure */
.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}

.photos figcaption {
    font-size: 1rem;
    text-align: center;
    color: var(--color-primary-head);
    margin-bottom: 16px;
} 

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #023047;
    color: #fb8500;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
    border-top: 4px solid #ffb703;
}

footer p {
    margin-bottom: 1rem;
    color: #fb8500;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}
.sociallinks a {
    gap: 1rem;
    text-decoration: none;
    margin: 10px;
    color: #fb8500;
}

.sociallinks li {
    list-style: none;
}
.sociallinks img {
    gap: 1rem;
    width: 30px;
    height: auto;
    filter: brightness(1.1);
    border-radius: 15px;
}

/* Forms */

.form-item {
    display: grid;
    align-items: center;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
    margin: 0.5rem 0;
    align-items: center;
}

.form-section {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
}

.checkbox-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 4rem;
    margin-top: .5rem;
}

.radio-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.radio-list li {
    align-content: center;
    text-align: center;
}

.radio-list input[type="radio"] {
    margin-right: 1px;   
}

.purpose {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #180505;
    padding-bottom: 10px;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.purpose button {
    border-radius: 12px;
    margin-right: 2rem;
    width: 200px;
}

.map {
    display: flex;
    justify-content: center;
    margin-top: 2rem;    
}

.map iframe {
    max-width: 90%;
    height: 400px;
    margin-bottom: 1rem;
}

.margin {
    margin-top: 1rem;
}

.contact {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    color: var(--color-text);
}

.contact p {
    
    text-align:justify;
    border: 2px solid #012e39d4;
    background-color: #ffb703;
    border-radius: 10px;
}
  
fieldset {
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
  }
  
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
  }
  
label, input, select, textarea, button {
    font-family: var(--font-body);
  }

label {
    text-align: right;
    padding-right: 1rem;
  }
  
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }

button {
    display: block;
    margin: 1rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
  }
  
button:hover {
    background-color: darkgreen; 
}


/* Forms HOme */

.contact-form {
    background-color: #bbccf7;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(2, 48, 71, 0.2);
    width: 100%;
    max-width: 500px;
}

.contact-form fieldset {
    position: relative;
}

.contact-form fieldset img {
    display: block;
    margin: 1rem auto;
    width: 100px;
    box-shadow: none;
}

.home, .home-section {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

form:not(.contact-form) {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #bbccf7;
    display: grid;
}

/* H1 HOme */

.hero-cta {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-cta img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-cta h1 {
    position: absolute;
    bottom: 65%;
    left: 0%;
    right: 0%;
    font-family: var(--font-heading);
    font-size: 3rem;
    height: 120px;
    background-color:#012e39d4;
    color: #fb8500;
    padding: 1rem 2rem;
    text-shadow: 1px 1px 4px #023047;
    padding: 10px;
}

.hero-cta article {
    position: absolute;
    bottom: 10%;
    left: 5%;
    right: 5%;
    background: #012e39d4;
    color: #ffb703;
    padding: 1rem;
    border-radius: 10px;
    color: var(--color-primary-text);
    text-align: center;
}

.hero-cta article p {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    color: var(--color-primary-text);
    font-family: var(--font-body);
}

.hero-cta article button{
    display: block;
    width: 240px;
    background-color: navy;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    margin: 1rem auto;
}
.hero-cta article a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.hero-cta h3 {
    color: white;
    border-bottom: 1px solid whitesmoke;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.photos .icon {
    width: 70px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: block;
    box-shadow: none;
    border-radius: 0;
}
.home-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    gap: 2rem;
    margin: 2rem auto;
    margin-left: 2rem;
}

.home-section {
    background-color: white;
}

.btn-link {
    display: block;
    width: 200px;
    margin: 1rem auto;
    background-color: navy;
    color: white;
    padding: 0.75rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: var(--font-body);
}

.btn-link:hover {
    background-color: darkgreen;
}

/* TRIPS */

.trip-info {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: white;
}

.trip-column table {
    width: 100%;
    background-color: #ffb703; /* REVISAR */
    border-collapse: collapse;
}

.trip-column th {
    background-color: var(--color-primary-head);
    color: #fff;
    font-size: 1rem;
    border: 4px solid white;
}

.trip-column th, .trip-column td {
    font-size: 1rem;
    border: 4px solid white;
    padding: .5rem;
    text-align: center;
}


.trip-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
}

.trip-photos figure {
    text-align: center;
}

.trip-photos img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 0px 0px #219EBC;
}