* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary-head: #023047;
    --color-primary-text: #ffb703;
    --color-accent1: #219EBC;
    --color-accent2: #fb8500;
    --color-text: #023047;
    --font-heading: 'Monstserrat', sans-serif;
    --font-body: 'Nunito', sans-serif;
}

body {
    font-family: var(--font-body);
    background-color: white;
    color: white;
    max-width: 1200px;
    margin: 5px;
    padding: 20px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--color-primary-head);
    color: #fb8500;
    font-family: var(--font-heading);
    border-bottom: 8px solid var(--color-accent1);
}

header img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin: 0 1rem 0 5rem;
    padding: 5px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    list-style: none;
} 

.navigation li a {
    display: inline-block;
    color: #ffb703;
    text-decoration: none;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: var(--font-body);
}

.hero {
    position: relative;
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    position: absolute;
    bottom: 65%;
    left: 0%;
    right: 0%;
    text-align: center;
    align-content: center;
    font-family: var(--font-heading);
    font-size: 3rem;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.534);
    color: #fb8500;
    padding: 1rem 2rem;
    text-shadow: 1px 1px 4px #023047;
    padding: 10px;
}

.hero article {
    position: absolute;
    display: flex;
    bottom: 10%;
    left: 5%;
    right: 5%;
    background: #012e39d4;
    padding: 1rem;
    border-radius: 10px;
    color: var(--color-primary-text);
    gap: 1rem;
}

.hero article img {
    float: right;
    width: 130px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px #fb8500;
}

.hero article p {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 10px;
    color: var(--color-primary-text);
    font-family: var(--font-body);
}

/* MAIN BODY */
section {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffb703;
    border-radius: 10px;
}
h2 {
    margin: 16px;
    background-color: #023047;
    padding: 1rem;
    border-radius: 12px;
    color: #fb8500;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: 20px;
    padding: 10px;
    color: var(--color-text);
}

section img {
    max-width: 200px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #023047;
    align-items: center;
    align-content: space-evenly;
}

/* HISTORY */
.history {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffb703;
    border-radius: 10px;
}

.history h2 {
    margin: 16px;
    background-color: #023047;
    padding: 1rem;
    border-radius: 12px;
    color: #fb8500;
}
 
.box {
    display: flex;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: 0;
    margin-right: 20px;
    padding: 0px;
}

.box p {
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}

.box img {
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}

/* Adventure */
.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}

.photos figcaption {
    font-size: 1rem;
    text-align: center;
    color: var(--color-primary-head);
    margin-bottom: 16px;
} 

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #023047;
    color: #fb8500;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
    border-top: 4px solid #ffb703;
}

footer p {
    margin-bottom: 1rem;
    color: #fb8500;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}
.sociallinks a {
    gap: 1rem;
    text-decoration: none;
    margin: 10px;
}

.sociallinks li {
    list-style: none;
}
.sociallinks img {
    gap: 1rem;
    width: 30px;
    height: auto;
    filter: brightness(1.1);
    border-radius: 15px;
}