* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color:white;
    --heading-text-color: darkblue;
    --padding: 1rem;
    --padding-small: 2px;
    --border: 1px solid black;
    --shadow: 0 0 20px gray;
}

body {
    font-size: 16px;
}
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: var(--heading-text-color);
    padding: .5rem;
}

main img {
    width: 150px;
    height: 150px;
    border: var(--border);
    padding: var(--padding-small);
    box-shadow: var(--shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

main {
    max-width: 640px;
}

aside {
    width: 20rem;
    height: auto;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 15px;
    border-top: 1px dotted #001131;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}