* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color:white;
    --heading-text-color: darkblue;
    --padding: 1rem;
    --padding-small: 2px;
    --border: 1px solid black;
    --shadow: 0 0 20px gray;
}

body {
    font-size: 16px;
}
nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--heading-text-color);
    padding: .5rem;
    border-bottom: solid navy;
}

main img {
    width: 150px;
    height: 150px;
    border: var(--border);
    padding: var(--padding-small);
    box-shadow: var(--shadow);
    float: right;
    margin: 10px;
}

p {
    padding: 0;
    margin: 1rem;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    height: auto;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

.grid header, footer {
    max-width: 840px;
    margin: 0 auto;
    border-top: 1px dotted #001131;
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}